@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "FProDisplay-Semibold";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "FProDisplay-Medium";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Medium-1.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "FProDisplay-Medium";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "FProDisplay-Regular";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "FProDisplay-Heavy";
  src: url("../../assets/fonts/FontsFree-Net-SFProDisplay-Heavy-1.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "FProDisplay-Heavy";
  src: url("../../assets/fonts//FontsFree-Net-SF-Pro-Display-HeavyItalic.ttf");
  font-style: italic;
  font-weight: 900;
}
.wrapper {
  width: 100%;
  height: 100vh;
}

.header .header__info {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #008dcc;
  font-family: "FProDisplay-Regular";
  font-size: 13px;
  padding: 8px 360px;
}
.header .header__info .info_blocks-one,
.header .header__info .info_blocks-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info_blocks-one .block_1,
.info_blocks-one .block_2 {
  display: flex;
  gap: 10px;
}

.info_blocks-two .lang,
.info_blocks-two .social-btns,
.info_blocks-two .schedule {
  margin-right: 10px;
  margin-left: 10px;
}
.info_blocks-two .lang {
  display: flex;
  gap: 5px;
  color: white;
}
.info_blocks-two .lang p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33a4d6;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.info_blocks-two .lang p:last-child {
  background-color: transparent;
}
.info_blocks-two .social-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info_blocks-two .social-btns div {
  background-color: #33a4d6;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_blocks-two .schedule {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 360px;
}
.header__main-block .menu__list {
  display: flex;
  gap: 45px;
  font-family: "FProDisplay-Medium";
  cursor: pointer;
  font-size: 15px;
  color: #575a5b;
}
.header__main-block .menu__list .list-item:hover {
  font-family: "FProDisplay-Medium";
  color: #008dcc;
}
.header__main-block .order-call {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__main-block .order-call .order-number {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  font-family: "SFProDisplay-Bold";
}
.header__main-block .order-call .order-btn {
  background-color: #008dcc;
  color: white;
  padding: 11px 30px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "FProDisplay-Semibold";
}

.header__slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0px 360px;
  height: 546px;
  background-color: #e3f1f7;
}
.header__slider .slider__info .slider-title {
  line-height: 45px;
  font-size: 40px;
  font-family: "FProDisplay-Semibold";
  margin-bottom: 20px;
}
.header__slider .slider__info .slider-title p {
  color: #008dcc;
}
.header__slider .slider__info .slider-text {
  font-size: 15px;
  font-family: "FProDisplay-Semibold";
  line-height: 20px;
  color: #303639;
  margin-bottom: 50px;
}
.header__slider .slider__info .submit__application-btn {
  background-color: #008dcc;
  color: white;
  border-radius: 5px;
  padding: 17px 28px;
  font-size: 15px;
  font-family: "FProDisplay-Semibold";
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__slider .slider__info .submit__application-btn::after {
  content: url("../../assets/icons/arrow-right-icon.png");
  position: relative;
  top: 2px;
}
.header__slider .slider__img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 646px;
  background-image: url("../../assets/images/header_background.png");
}
.header__slider .add-btn {
  position: relative;
  border: 1px solid #f16d03;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(243, 244, 245, 0.2705882353);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__slider .add-btn .eclipse {
  position: absolute;
  background-color: #f16d03;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(243, 244, 245, 0.2705882353);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: italic;
  color: white;
}

.content .cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0px 360px;
  margin: 65px 0px 90px 0px;
}
.content .cards__list .card__item {
  position: relative;
  width: 582px;
  height: 300px;
  padding: 30px;
  overflow: hidden;
  background-color: #008dcc;
  display: flex;
}
.content .cards__list .card__item:nth-child(2) {
  background-color: #f3f9fc;
}
.content .cards__list .card__item:nth-child(2) .card__item-title {
  color: #303639;
}
.content .cards__list .card__item:nth-child(2) .get-catalog__btn {
  background-color: #008dcc;
  color: white;
  width: 175px;
}
.content .cards__list .card__item:nth-child(2) .get-catalog__btn::after {
  content: url("../../assets/icons/arrow-right-icon.svg");
  color: white;
}
.content .cards__list .card__item:nth-child(2) #card2 .ellipse {
  background-color: #008dcc;
  position: absolute;
  bottom: 40px;
  right: -30px;
  z-index: 1;
}
.content .cards__list .card__item:nth-child(2) #card2 .img {
  position: relative;
  right: -20px;
  z-index: 1;
}
.content .cards__list .card__item:nth-child(3) {
  background-color: #f3f9fc;
}
.content .cards__list .card__item:nth-child(3) .card__item-title {
  color: #303639;
}
.content .cards__list .card__item:nth-child(3) .get-catalog__btn {
  background-color: #008dcc;
  color: white;
  width: 175px;
}
.content .cards__list .card__item:nth-child(3) .get-catalog__btn::after {
  content: url("../../assets/icons/arrow-right-icon.svg");
  color: white;
}
.content .cards__list .card__item:nth-child(3) #card3 .ellipse {
  background-color: #008dcc;
  position: absolute;
  bottom: -160px;
  right: 25px;
  z-index: 1;
}
.content .cards__list .card__item:nth-child(3) #card3 .img {
  position: relative;
  right: 75px;
  bottom: -90px;
  z-index: 1;
}
.content .cards__list .card__item:nth-child(4) {
  background-color: #008dcc;
}
.content .cards__list .card__item:nth-child(4) .card__item-title {
  color: white;
}
.content .cards__list .card__item:nth-child(4) .get-catalog__btn {
  background-color: white;
  color: #008dcc;
  width: 175px;
}
.content .cards__list .card__item:nth-child(4) .get-catalog__btn::after {
  content: url("../../assets/icons/arrow-right-icon(blue).svg");
  color: white;
}
.content .cards__list .card__item:nth-child(4) #card4 .ellipse {
  background-color: white;
  position: absolute;
  top: 70px;
  right: -60px;
  z-index: 1;
}
.content .cards__list .card__item:nth-child(4) #card4 .img {
  position: relative;
  bottom: 70px;
  right: -90px;
  z-index: 1;
}
.content .cards__list .card__item .card__item-title {
  font-size: 23px;
  color: white;
  font-family: "FProDisplay-Semibold";
  margin-bottom: 30px;
}
.content .cards__list .card__item .get-catalog__btn {
  padding: 8px 10px;
  background-color: white;
  color: #008dcc;
  font-family: "SFProDisplay-Bold";
  border-radius: 10px;
  width: 175px;
  display: flex;
  gap: 10px;
}
.content .cards__list .card__item .get-catalog__btn::after {
  content: url("../../assets/icons/arrow-right-icon(blue).svg");
}
.content .cards__list .card__item #card1 {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.content .cards__list .card__item #card1 .ellipse {
  position: absolute;
  bottom: 30px;
  left: 60px;
  z-index: 1;
  background-color: #e5f7f5;
  width: 375px;
  height: 375px;
  border-radius: 50%;
}
.content .cards__list .card__item #card1 .img {
  position: relative;
  z-index: 1;
}
.content .cards__list .card__item #card2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.content .cards__list .card__item #card2 .ellipse {
  width: 375px;
  height: 375px;
  border-radius: 50%;
}
.content .cards__list .card__item #card3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.content .cards__list .card__item #card3 .ellipse {
  width: 375px;
  height: 375px;
  border-radius: 50%;
}
.content .cards__list .card__item #card4 .ellipse {
  width: 375px;
  height: 375px;
  border-radius: 50%;
}
.content .advantages {
  padding: 0px 360px;
  background-image: url("../../assets/images/advantange-back.png");
  display: flex;
  align-items: center;
}
.content .advantages .advantages__list {
  display: flex;
}
.content .advantages .advantages__list .advantage__item {
  text-align: center;
  border-left: 1px solid rgba(51, 164, 214, 0.5019607843);
  color: white;
  padding: 50px 0px 70px 0px;
}
.content .advantages .advantages__list .advantage__item:first-child {
  border: none;
}
.content .advantages .advantages__list .advantage__item .title {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 35px;
  font-family: "SFProDisplay-Bold";
  line-height: 25px;
}
.content .advantages .advantages__list .advantage__item .advantage-text {
  font-size: 14px;
  margin-top: 20px;
  font-family: "FProDisplay-Regular";
  line-height: 20px;
}

.about-company {
  position: relative;
  z-index: 1;
  background-color: #f3f9fb;
  margin-top: 95px;
}
.about-company .blue-back {
  position: absolute;
  top: 0;
  background-color: #008dcc;
  width: 42%;
  height: 100%;
  z-index: -1;
}

.container__company-section {
  padding: 0px 360px;
  display: flex;
  align-items: end;
  gap: 64px;
}
.container__company-section .nurse__block-image {
  position: relative;
  z-index: 2;
}
.container__company-section .info-companies {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  height: 792px;
}
.container__company-section .info-companies .title {
  font-size: 38px;
  font-family: "FProDisplay-Heavy";
  font-style: italic;
}
.container__company-section .info-companies .title p {
  text-align: center;
  font-size: 23px;
  margin-top: 15px;
  font-weight: 500;
  background-color: #f16d03;
  color: white;
  width: 460px;
  font-style: normal;
  padding: 5px;
  font-family: "FProDisplay-Medium";
}
.container__company-section .info-companies .text__company-info {
  line-height: 25px;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "FProDisplay-Regular";
  color: #535657;
}
.container__company-section .info-companies .paragraph {
  font-family: "FProDisplay-Regular";
  font-size: 15px;
  color: #535657;
  line-height: 25px;
}
.container__company-section .info-companies .quote-slogan {
  margin-top: 40px;
  display: flex;
  align-items: start;
  gap: 18px;
  line-height: 25px;
  font-family: "FProDisplay-Semibold";
  font-size: 17px;
  color: #526066;
}
.container__company-section .info-companies .btns {
  margin-top: 46px;
}
.container__company-section .info-companies .btns button {
  width: 235px;
  height: 51px;
  border-radius: 5px;
  font-size: 15px;
  padding: 15px;
  font-family: "FProDisplay-Medium";
  text-align: left;
}
.container__company-section .info-companies .btns button:hover {
  position: relative;
  top: 1px;
}
.container__company-section .info-companies .btns .more__btn {
  position: relative;
  border: 2px solid #008dcc;
  background-color: transparent;
  margin-right: 12px;
  color: #008dcc;
}
.container__company-section .info-companies .btns .more__btn::after {
  content: url("../../assets/icons/more-arrow.png");
  position: absolute;
  right: 10px;
}
.container__company-section .info-companies .btns .choose-equipment__btn {
  position: relative;
  background-color: #008dcc;
  color: #fff;
}
.container__company-section .info-companies .btns .choose-equipment__btn::after {
  content: url("../../assets/icons/equipment-arrow.png");
  position: absolute;
  right: 10px;
}

.groups-companies__slider {
  padding: 65px 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  background-color: #008dcc;
}
.groups-companies__slider .companies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnership {
  display: flex;
  padding: 115px 360px 85px 360px;
  background-color: #f3f9fb;
}
.partnership .partnership__info .info-title {
  font-family: "SFProDisplay-Bold";
  font-size: 40px;
  padding-right: 20px;
}
.partnership .partnership__info .info-text {
  padding: 50px 0px 40px 0px;
}
.partnership .partnership__info .info-text .umed__discription {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "FProDisplay-Regular";
  font-size: 15px;
  line-height: 25px;
  border-left: 5px solid #008dcc;
  color: #535657;
  padding-left: 22px;
}
.partnership .partnership__info .give-health__paragraph {
  font-family: "SFProDisplay-Bold";
  font-size: 19px;
  line-height: 25px;
  padding-right: 90px;
  color: #535657;
}
.partnership .partnership__info .give-health__paragraph span {
  color: #008dcc;
}

.partnership__image .image-container {
  background-image: url("../../assets/images/partnership-image.png");
  width: 527px;
  height: 605px;
  background-position-x: right;
  background-position: center;
  background-position: 610px 605px;
  box-shadow: 30px -30px 0px #008dcc;
}

.news-section {
  background-color: #f3f9fb;
  padding-bottom: 110px !important;
  padding: 0px 360px;
}
.news-section .title {
  font-size: 30px;
  font-family: "SFProDisplay-Bold";
}
.news-section .line-for-title {
  border: 1px solid #dde2e4;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 40px;
}
.news-section .news__cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.news-section .news__cards .card__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-section .news__cards .card__item time {
  font-size: 11px;
  color: #878787;
  font-family: "FProDisplay-Regular";
}
.news-section .news__cards .card__item .discription {
  font-size: 17px;
  line-height: 25px;
  font-family: "SFProDisplay-Bold";
}

.footer {
  background-color: #151b1e;
  padding: 40px 360px 30px 360px;
}
.footer .footer__info {
  display: flex;
  gap: 70px;
  width: 100%;
  color: #fff;
}
.footer .footer__info .logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footer__info .logo .social-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .footer__info .logo .social-btns div {
  background-color: #2d3235;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__info .footer-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer .footer__info .footer-navigation .item {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.footer .footer__info .footer-navigation .item .head__catalog {
  font-size: 17px;
  font-family: "SFProDisplay-Bold";
}
.footer .footer__info .footer-navigation .item .catalog__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-family: "FProDisplay-Regular";
  color: #8a9499;
}
.footer .footer__info .footer-navigation .item .head__company {
  font-size: 17px;
  font-family: "SFProDisplay-Bold";
}
.footer .footer__info .footer-navigation .item .company__list {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-family: "FProDisplay-Regular";
  color: #8a9499;
}
.footer .footer__info .footer-navigation .item .company__list div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer__info .footer-navigation .item .head__contacts {
  font-size: 17px;
  font-family: "SFProDisplay-Bold";
}
.footer .footer__info .footer-navigation .item .contacts__list {
  display: flex;
  gap: 40px;
}
.footer .footer__info .footer-navigation .item .contacts__list div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-family: "FProDisplay-Regular";
  color: #8a9499;
}
.footer .footer__info .footer-navigation .item .contacts__list div .list-item:first-child {
  font-size: 25px;
  color: #fff;
}
.footer .footer__info .footer-navigation .item .contacts__list div .list-item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
}
.footer .footer__info .footer-navigation .item .contacts__list div .list-item:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer__info .footer-navigation .item .contacts__list .nav-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer__info .footer-navigation .item .contacts__list .nav-btns button {
  padding: 12px 40px;
  font-size: 15px;
  font-family: "FProDisplay-Regular";
  border-radius: 5px;
  color: white;
}
.footer .footer__info .footer-navigation .item .contacts__list .nav-btns button:nth-child(odd) {
  background-color: #008dcc;
  font-weight: 600;
}
.footer .footer__info .footer-navigation .item .contacts__list .nav-btns button:nth-child(even) {
  background-color: transparent;
  border: 2px solid #008dcc;
  font-weight: 600;
}
.footer .copyright {
  margin-top: 50px;
}
.footer .copyright .line {
  border: 1px solid #2d3235;
  border-radius: 50%;
  margin-bottom: 20px;
}
.footer .copyright p {
  color: #585f62;
  font-family: "FProDisplay-Regular";
  font-size: 13px;
}