@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'FProDisplay-Semibold';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'FProDisplay-Medium';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Medium-1.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'FProDisplay-Medium';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-MediumItalic.ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'FProDisplay-Regular';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'FProDisplay-Heavy';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Heavy-1.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'FProDisplay-Heavy';
    src: url('../../assets/fonts//FontsFree-Net-SF-Pro-Display-HeavyItalic.ttf');
    font-style: italic;
    font-weight: 900;
}