@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'FProDisplay-Semibold';
    src: url('../../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf');
    font-style: normal;
    font-weight: 600;
}