@import "./fonts.scss";

.wrapper {
  width: 100%;
  height: 100vh;
}

// .container {
//   margin: 0 auto;
// }

.header {
  .header__info {
    display: flex;
    justify-content: space-between;

    color: white;
    background-color: #008dcc;
    font-family: "FProDisplay-Regular";
    font-size: 13px;
    padding: 8px 360px;
    .info_blocks-one,
    .info_blocks-two {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

.info_blocks-one {
  .block_1,
  .block_2 {
    display: flex;
    gap: 10px;
  }
}

.info_blocks-two {
  .lang,
  .social-btns,
  .schedule {
    margin-right: 10px;
    margin-left: 10px;
  }

  .lang {
    display: flex;
    gap: 5px;
    color: white;

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #33a4d6;
      width: 25px;
      height: 25px;
      border-radius: 5px;

      &:last-child {
        background-color: transparent;
      }
    }
  }

  .social-btns {
    display: flex;
    align-items: center;
    gap: 5px;

    div {
      background-color: #33a4d6;
      width: 25px;
      height: 25px;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .schedule {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.header__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 360px;

  .menu__list {
    display: flex;
    gap: 45px;

    font-family: "FProDisplay-Medium";
    cursor: pointer;
    font-size: 15px;
    color: #575a5b;

    .list-item:hover {
      font-family: "FProDisplay-Medium";
      color: #008dcc;
    }
  }

  .order-call {
    display: flex;
    align-items: center;
    gap: 32px;

    .order-number {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 17px;
      font-weight: 700;
      font-family: "SFProDisplay-Bold";
    }

    .order-btn {
      background-color: #008dcc;
      color: white;
      padding: 11px 30px;
      border-radius: 5px;

      font-size: 13px;
      font-family: "FProDisplay-Semibold";
    }
  }
}

.header__slider {
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;
  padding: 0px 360px;
  height: 546px;
  background-color: #e3f1f7;

  .slider__info {
    .slider-title {
      line-height: 45px;
      font-size: 40px;
      font-family: "FProDisplay-Semibold";

      p {
        color: #008dcc;
      }
      margin-bottom: 20px;
    }
    .slider-text {
      font-size: 15px;
      font-family: "FProDisplay-Semibold";
      line-height: 20px;

      color: #303639;
      margin-bottom: 50px;
    }

    .submit__application-btn {
      background-color: #008dcc;
      color: white;
      border-radius: 5px;
      padding: 17px 28px;
      font-size: 15px;
      font-family: "FProDisplay-Semibold";

      display: flex;
      align-items: center;
      gap: 20px;

      &::after {
        content: url("../../assets/icons/arrow-right-icon.png");
        position: relative;
        top: 2px;
      }
    }
  }

  .slider__img {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 50%;
    height: 646px;
    background-image: url("../../assets/images/header_background.png");

  }
  .add-btn {
    position: relative;
    border: 1px solid #f16d03;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #f3f4f545;
      
    display: flex;
    justify-content: center;
    align-items: center;  

    .eclipse {
      position: absolute;
      background-color: #f16d03;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 10px #f3f4f545;
  
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-style: italic;
      color: white;
    }
  }
}

.content {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    padding: 0px 360px;
    margin: 65px 0px 90px 0px;

    .card__item {
      position: relative;
      width: 582px;
      height: 300px;
      padding: 30px;
      overflow: hidden;

      background-color: #008dcc;

      &:nth-child(2) {
        background-color: #f3f9fc;

        .card__item-title {
          color: #303639;
        }

        .get-catalog__btn {
          background-color: #008dcc;
          color: white;
          width: 175px;

          &::after {
            content: url("../../assets/icons/arrow-right-icon.svg");
            color: white;
          }
        }

        #card2 {
          .ellipse {
            background-color: #008dcc;

            position: absolute;
            bottom: 40px;
            right: -30px;
            z-index: 1;
          }

          .img {
            position: relative;
            right: -20px;
            z-index: 1;
          }
        }
      }

      &:nth-child(3) {
        background-color: #f3f9fc;

        .card__item-title {
          color: #303639;
        }

        .get-catalog__btn {
          background-color: #008dcc;
          color: white;
          width: 175px;

          &::after {
            content: url("../../assets/icons/arrow-right-icon.svg");
            color: white;
          }
        }

        #card3 {
          .ellipse {
            background-color: #008dcc;

            position: absolute;
            bottom: -160px;
            right: 25px;
            z-index: 1;
          }

          .img {
            position: relative;
            right: 75px;
            bottom: -90px;
            z-index: 1;
          }
        }

      }

      &:nth-child(4) {
        background-color: #008dcc;

        .card__item-title {
          color: white;
        }

        .get-catalog__btn {
          background-color: white;
          color: #008dcc;
          width: 175px;

          &::after {
            content: url("../../assets/icons/arrow-right-icon(blue).svg");
            color: white;
          }
        }

        #card4 {
          .ellipse {
            background-color: white;

            position: absolute;
            top: 70px;
            right: -60px;
            z-index: 1;
          }

          .img {
            position: relative;
            bottom: 70px;
            right: -90px;
            z-index: 1;
          }
        }
      }
      display: flex;

      .card__item-title {
        font-size: 23px;
        color: white;
        font-family: "FProDisplay-Semibold";

        margin-bottom: 30px;
      }

      .get-catalog__btn {
        padding: 8px 10px;
        background-color: white;
        color: #008dcc;
        font-family: "SFProDisplay-Bold";
        border-radius: 10px;
        width: 175px;

        display: flex;
        gap: 10px;

        &::after {
          content: url("../../assets/icons/arrow-right-icon(blue).svg");
        }
      }

      #card1 {
        position: absolute;
        top: 0;
        right: 0;

        overflow: hidden;

        .ellipse {
          position: absolute;
          bottom: 30px;
          left: 60px;
          z-index: 1;

          background-color: #e5f7f5;
          width: 375px;
          height: 375px;
          border-radius: 50%;
        }

        .img {
          position: relative;
          z-index: 1;
        }
      }

      #card2 {
        position: absolute;
        bottom: 0;
        right: 0;

        .ellipse {
          width: 375px;
          height: 375px;
          border-radius: 50%;
        }
      }

      #card3 {
        position: absolute;
        bottom: 0;
        right: 0;

        .ellipse {
          width: 375px;
          height: 375px;
          border-radius: 50%;
        }
      }

      #card4 {


        .ellipse {
          width: 375px;
          height: 375px;
          border-radius: 50%;
        }
      }
    }
  }

  .advantages {
    padding: 0px 360px;

    background-image: url("../../assets/images/advantange-back.png");

    display: flex;
    align-items: center;

    .advantages__list {
      display: flex;

      .advantage__item {
        text-align: center;
        border-left: 1px solid #33a4d680;
        color: white;

        padding: 50px 0px 70px 0px;

        &:first-child {
          border: none;
        }

        .title {
          font-size: 13px;
          text-transform: uppercase;
          margin-top: 35px;
          font-family: "SFProDisplay-Bold";
          line-height: 25px;
        }

        .advantage-text {
          font-size: 14px;
          margin-top: 20px;
          font-family: "FProDisplay-Regular";
          line-height: 20px;
        }
      }
    }
  }
}

.about-company {
  position: relative;
  z-index: 1;
  background-color: #f3f9fb;
  margin-top: 95px;

  .blue-back {
    position: absolute;
    top: 0;

    background-color: #008dcc;
    width: 42%;
    height: 100%;
    z-index: -1;
  }
}

.container__company-section {
  padding: 0px 360px;
  display: flex;
  align-items: end;
  gap: 64px;

  .nurse__block-image {
    position: relative;
    z-index: 2;
  }

  .info-companies {
    display: flex;
    flex-direction: column;

    padding: 100px 0px;
    height: 792px;
    .title {
      font-size: 38px;
      font-family: "FProDisplay-Heavy";
      font-style: italic;
      p {
        text-align: center;
        font-size: 23px;
        margin-top: 15px;
        font-weight: 500;
        background-color: #f16d03;
        color: white;
        width: 460px;
        font-style: normal;
        padding: 5px;
        font-family: "FProDisplay-Medium";
      }
    }

    .text__company-info {
      line-height: 25px;
      font-size: 15px;
      margin-top: 40px;
      margin-bottom: 20px;
      font-family: "FProDisplay-Regular";
      color: #535657;
    }
    .paragraph {
      font-family: "FProDisplay-Regular";
      font-size: 15px;
      color: #535657;
      line-height: 25px;
    }

    .quote-slogan {
      margin-top: 40px;

      display: flex;
      align-items: start;
      gap: 18px;
      line-height: 25px;
      font-family: "FProDisplay-Semibold";
      font-size: 17px;
      color: #526066;
    }

    .btns {
      margin-top: 46px;

      button {
        width: 235px;
        height: 51px;
        border-radius: 5px;
        font-size: 15px;
        padding: 15px;
        font-family: "FProDisplay-Medium";
        text-align: left;

        &:hover {
          position: relative;
          top: 1px;
        }
      }
      .more__btn {
        position: relative;
        border: 2px solid #008dcc;
        background-color: transparent;
        margin-right: 12px;
        color: #008dcc;

        &::after {
          content: url("../../assets/icons/more-arrow.png");
          position: absolute;
          right: 10px;
        }
      }

      .choose-equipment__btn {
        position: relative;
        background-color: #008dcc;
        color: #fff;

        &::after {
          content: url("../../assets/icons/equipment-arrow.png");
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}

.groups-companies__slider {
  padding: 65px 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;

  background-color: #008dcc;

  .companies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.partnership {
  display: flex;

  padding: 115px 360px 85px 360px;
  background-color: #f3f9fb;

  .partnership__info {
    .info-title {
      font-family: "SFProDisplay-Bold";
      font-size: 40px;
      padding-right: 20px;
    }

    .info-text {
      padding: 50px 0px 40px 0px;

      .umed__discription {
        display: flex;
        flex-direction: column;
        gap: 15px;

        font-family: "FProDisplay-Regular";
        font-size: 15px;
        line-height: 25px;
        border-left: 5px solid #008dcc;
        color: #535657;
        padding-left: 22px;
      }
    }

    .give-health__paragraph {
      font-family: "SFProDisplay-Bold";
      font-size: 19px;
      line-height: 25px;
      padding-right: 90px;
      color: #535657;

      span {
        color: #008dcc;
      }
    }
  }
}

.partnership__image {
  .image-container {
    background-image: url("../../assets/images/partnership-image.png");
    width: 527px;
    height: 605px;
    background-position-x: right;
    background-position: center;
    background-position: 610px 605px;
    box-shadow: 30px -30px 00px #008dcc;
  }
}

.news-section {
  background-color: #f3f9fb;
  padding-bottom: 110px !important;
  .title {
    font-size: 30px;
    font-family: "SFProDisplay-Bold";
  }
  .line-for-title {
    border: 1px solid #dde2e4;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  padding: 0px 360px;
  .news__cards {
    display: flex;
    justify-content: center;
    gap: 20px;

    .card__item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 380px;
      object-fit: cover;

      time {
        font-size: 11px;
        color: #878787;
        font-family: "FProDisplay-Regular";
      }

      .discription {
        font-size: 17px;
        line-height: 25px;
        font-family: "SFProDisplay-Bold";
      }
    }
  }
}

.footer {
  background-color: #151b1e;

  padding: 40px 360px 30px 360px;
  .footer__info {
    display: flex;
    gap: 70px;
    width: 100%;

    color: #fff;

    .logo {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .social-btns {
        display: flex;
        align-items: center;
        gap: 5px;

        div {
          background-color: #2d3235;
          width: 30px;
          height: 30px;
          border-radius: 5px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .footer-navigation {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;

        gap: 64px;

        .head__catalog {
          font-size: 17px;
          font-family: "SFProDisplay-Bold";
        }

        .catalog__list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          font-size: 14px;
          font-family: "FProDisplay-Regular";
          color: #8a9499;
        }

        .head__company {
          font-size: 17px;
          font-family: "SFProDisplay-Bold";
        }

        .company__list {
          display: flex;

          gap: 20px;

          font-size: 14px;
          font-family: "FProDisplay-Regular";
          color: #8a9499;

          div {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }

        .head__contacts {
          font-size: 17px;
          font-family: "SFProDisplay-Bold";
        }

        .contacts__list {
          display: flex;
          gap: 40px;
          div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            font-size: 14px;
            font-family: "FProDisplay-Regular";
            color: #8a9499;

            .list-item {
              &:first-child {
                font-size: 25px;
                color: #fff;
              }

              &:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 250px;
              }

              &:last-child {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }
          .nav-btns {
            display: flex;
            flex-direction: column;
            gap: 20px;

            button {
              padding: 12px 40px;
              font-size: 15px;
              font-family: "FProDisplay-Regular";
              border-radius: 5px;
              color: white;
              
              &:nth-child(odd) {
                background-color: #008dcc;
                font-weight: 600;
              }

              &:nth-child(even) {
                background-color: transparent;
                border: 2px solid #008dcc;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 50px;

    .line{
      border: 1px solid #2d3235;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    p {
      color: #585f62;
      font-family: "FProDisplay-Regular";
      font-size: 13px;
    }
  }
}
